img, #markers { position: absolute; top: 0; left: 0; }
#markers img { z-index: 2; }
#marker-stroked { display: none; }
#lines {
  display: block;
  border: 1px solid rgba(13, 31, 13, 0.5);
  border-width: 0 1px 1px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

